.hideBar {
    background-color: gray;
    float: left;
    display: none;
}
.showBar {
    position: fixed;
    background-color: gray;
    color: white;
    float: left;
    width: 15%;
    animation: change 3s;
    opacity: 1;
}
@keyframes change{
    from{ width: 0%;}
    to{ width: 15%;}
}
nav {
    background-color: gray;
    left: 0px;
}
.showBarButton {
    border: none;
    display: block;
    padding: 10px;
    background-color: white;
    color: black;
    width: 100%;
    word-wrap: normal;
}
.showBarButton:hover {
    background: gray;
    color: white;
}
ul, li {
    list-style-type: none;
    padding: 0px 0px;
}
section {
    padding: 0px;
}
.flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainContent {
    margin: 20px;
    padding: 20px;
    color: Purple;
    align-self: center;
}
.logo {
    max-width: 60vh;
    max-height: 60vh;
}
.fakeLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.gameFrame {
    border: 1px solid blueviolet;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}
.gameFrame > div {
    text-align: center;
    padding: 10px;
    font-size: 15px;
}
.gameContent {
    grid-column: 1/4;
    display: grid;
}
.mineBlock {
    height: 25px;
    width: 25px;
    display: block;
    border: 1px solid black; 
    border-radius: 0px;
    background-color: lightgray;
    color: black;
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    padding-left: 30%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.modalHeader, .modalContent {
    position: relative;
    background-color: white;
    border: 1px solid black;
    width: 40%;
    box-shadow: 4px 8px 8px 0px rgba(0,0,0,0,0.2);
    animation-name: move;
    animation-duration: 0.3s;
    text-align: center;
}
@keyframes move {
    from {top: -200px; opacity: 0}
    to {top: 0px; opacity: 1;}
}
button {
    border: none;
    background-color: darkgray;
    color: white;
    padding: 10px;
    margin: 0px;
}
.Opened {
    background-color: floralwhite;
    font-size: 20px;
    padding: 0px;
}
.flag {
    height: 23px;
    width: 23px;
}
.LastOpen {
    background-color: palevioletred;
    color: white;
}
table {
    border-collapse: collapse;
}
table, th{
    
    padding: 5px;
}
tr:hover {
    background-color: lightgray;
}
tr:nth-child(odd){
    background-color: lightgoldenrodyellow;
}
tr:nth-child(even){
    background-color: lightcyan;
}
.modalHeader {
    background-color: lightgreen;
}
.modalContent > div {
    text-align: center;
}
